<%- include("./partials/header") %>

<h1>Home</h1>

<p><%=homeContent%></p>

<%allPosts.forEach(function(post){%>
<h1><%=post.title%></h1>
<p style="display: inline-block"><%=post.text.substring(0,100) + "..."%></p>
<%let link = "/posts/"+post.title;%>
<a href="<%= link %>">Read More</a>

<%})%> <%-include("./partials/footer") %>
